version: "3.7"

# Will use the hostname when talking between services on the same network
services:
  
  hubmap-auth:
    hostname: hubmap-auth
    container_name: hubmap-auth
    # Avoid accidentally creating zombie processes
    init: true
    # Specifying a restart policy to avoid downtime
    restart: always
    environment:
      # UID and GID 1001 to match the hive user by default
      - HOST_GID=${HOST_GID:-1001}
      - HOST_UID=${HOST_UID:-1001}
    # Map host machine port 80, 443, and 8443 to container ports
    # Only root can listen on ports below 1024, we use higher-numbered ports
    # since nginx is running under non-root user hubmap
    ports:
      - "80:8080"
      - "443:4430"
      # 8443 is used by ingest-api running on another machine
      - "8443:8443"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    networks:
      - gateway_hubmap
    volumes:
      # Make the uwsgi/nginx log files generated on container available through from host
      - "./hubmap-auth/log:/usr/src/app/log"
      # favicon.ico and portal/ingest UI maintenance page
      - "./nginx/html:/usr/share/nginx/html"

networks:
  # This is the network created by gateway to enable communicaton between multiple docker-compose projects
  gateway_hubmap:
    external: true
